deb http://releases.galeracluster.com/mysql-wsrep-{{ galera_version_major }}.{{ galera_version_minor }}/ubuntu {{ ansible_distribution_release }} main
deb http://releases.galeracluster.com/galera-3/ubuntu {{ ansible_distribution_release }} main