deb http://releases.galeracluster.com/mysql-wsrep-{{ galera_major_version }}.{{ galera_minor_version }}/ubuntu {{ ansible_distribution_release }} main
deb http://releases.galeracluster.com/galera-3/ubuntu {{ ansible_distribution_release }} main