[mysqld]
wsrep_on = ON
wsrep_provider = /usr/lib64/galera/libgalera_smm.so

wsrep_node_name="{{ galera_ip }}"
wsrep_node_address=127.0.0.1

wsrep_cluster_name={{ galera_cluster_name }}
{% set galera_hosts = '' %}
{% for galera_host in groups['galera_node'] %}
{%  if loop.last %}
{%    set galera_hosts = galera_hosts + hostvars[galera_host].galera_ip %}
wsrep_cluster_address=gcomm://{{ galera_hosts }}
{%  else %}
{%    set galera_hosts = galera_hosts + hostvars[galera_host].galera_ip + ',' %}
{%  endif %}
{% endfor %}
wsrep_sst_method=rsync

binlog_format = row
default_storage_engine = innodb

innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 0

query_cache_size = 0
query_cache_type = 0
