# Galera Cluster Frontend configuration
frontend galera_cluster_frontend
    bind 0.0.0.0:3306
    default_backend galera_cluster_backend
    option tcplog
    mode tcp

# Galera Cluster Backend configuration
backend galera_cluster_backend
    mode tcp
    balance source
    option tcpka
    option mysql-check user haproxy
{% for galera_node_host in groups['galera_node'] %}
    server {{ hostvars[galera_node_host].galera_ip }} {{ hostvars[galera_node_host].galera_ip }}:3306 send-proxy check inter 1000 rise 3 fall 3 weight 1
{% endfor %}
